


<script>
  function myFunction() {
    alert("congrats!! your booking has been done we will just let your pilot know");
  }
  </script>



    
    <div class="card p-2 ">
      <img src="/static/images/driver.png" class="card-img-top  w-50 position-relative" style = "left : calc(50% - 100px);" alt="...">
      <div class="card-body">
          <h5 class="card-title text-center">{{ driver.name }} </h5>
        <p class="card-text">

 {{ driver.dn }}

        </p>
      </div>
      
      <div class="card-body">
        <p> Contact : {{ driver.contact }}</p>
        <h6>email me at   :  <span><b> {{ driver.email}} </b></span> </h6>
        
       <p class="card-text">I am a certified driver from Pool karo</p>
      </div>
   

      <button class="btn btn-primary button" onclick="myFunction()">BOOK NOW</button>
    </div>
     