{% extends "base.html" %}


{% block content %}

{% load bootstrap_tags %} 
<div class="container-fluid register-box"> 
    
<h1 style= "font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">driver Registeration From</h1>

<div class="container bg-light p-3 mt-4">
    {% load crispy_forms_tags %}
<form method = 'POST'  >
    {% csrf_token %}

    {{ form|crispy }}

    <button type = "submit" class="btn btn-success">Register</button>

</form>
</div>
</div>

{% endblock %}