{% include 'base.html' %}

<div class="container bg-dark">
    <div class="row">
        <div class="col col-md-6">
            <a type="button"  class="btn btn-primary" href="/user/auth/user/login">Login as a User</a>

        </div>
        <div class="col col-md-6">
            <a type="button" class="btn btn-primary" href="/user/auth/driver/login">Login as a driver</a>

        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col col-md-6 col-xs-12">

            <a type="button" class="btn btn-dark" href="/user/auth/user/register">Register as a User</a>

        </div>
        <div class="col col-md-6">
            <a type="button" class="btn btn-dark" href="/user/auth/driver/register">Register as a Driver</a>

        </div>


    </div>
   

</div>